@import '../../styles/index.scss';

#{$css-prefix}-element-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: $toolbar-bg-color;
  color: $toolbar-color;
  display: flex;
  border-radius: 0 0 0 5px;
  overflow: hidden;
  opacity: 0.7;

  &:hover{
    opacity: 1;
  }
}