@import '../../../styles/index.scss';

#{$css-prefix}-rnd-layer {
  z-index: 101;
  position: absolute;

  &-ghost {
    z-index: 101;
    position: absolute;
  }

  &-dragging {
    outline: 1px dashed $line-hover-color;
  }

  &-resizing {
    outline: 1px dashed $line-hover-color;
  }
}
