.demo {
  .button-bar {
    display: flex;
    padding: 10px 0;
    .bar-item {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }

  .main {
    display: flex;
  }

  .dashboard-box {
    overflow: hidden;
    border: 1px solid #666;
    .dashboard {
      height: 800px;
      width: 800px;
    }
  }

  .element-box {
    flex-shrink: 0;
    width: 120px;
    padding: 0 10px 0 0;
    .element-item {
      border: 1px solid #666;
      padding: 10px 0;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .setter-box {
    flex-shrink: 0;
    border: 1px solid #666;
    width: 220px;
    margin-left: 10px;
    .box-section-title {
      padding: 10px;
      background-color: #eee;
      font-size: 13px;
      text-align: center;
    }
  }

  .setter-field {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 5px 10px;
    .label {
      white-space: nowrap;
      padding-right: 10px;
    }

    .detail {
      flex: 1;
      .fill {
        width: 100%;
      }
    }
  }
}
