@import '../../styles/index.scss';

#{$css-prefix}-element-view {
  position: absolute;
  
  &-editable {
  }

  &-dragging {
    opacity: 0.5;
  }

  &-resizing {
    opacity: 0.5;
  }

  &-hover {
  }
}
